
.art_one{

    background-image: url("art_gallery/sfn.png");
    background-size:contain; 
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
  }

  .art_2{

    background-image: url("art_gallery/orbgeo.png");
    background-size:contain; 
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
  }

  .art_3{

    background-image: url("art_gallery/zenwood_perfection.png");
    background-size:contain; 
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
  }

  .art_4{

    background-image: url("art_gallery/zenwood_pink.png");
    background-size:contain; 
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
  }

  .art_5{

    background-image: url("art_gallery/zenbook.png");
    background-size:contain; 
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
  }

  .art_6{

    background-image: url("art_gallery/zenbook_1920x1080.png");
    background-size:contain; 
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
  }

  .art_7{

    background-image: url("art_gallery/tao_chapter_01.png");
    background-size:contain; 
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
  }

  .art_8{

    background-image: url("art_gallery/tao_chapter_02.png");
    background-size:contain; 
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
  }

  .art_9{

    background-image: url("art_gallery/sfn.png");
    background-size:contain; 
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
  }

  .art_10{

    background-image: url("art_gallery/sfn.png");
    background-size:contain; 
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
  }

  .art_11{

    background-image: url("art_gallery/sfn.png");
    background-size:contain; 
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
  }

  .art_12{

    background-image: url("art_gallery/sfn.png");
    background-size:contain; 
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
  }

  