
.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg { /* MASTERFLOW.ART SITE HEADER */ 
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
 /* font-family: Elemental; */
  color: white;
  background-color: black;
  text-align: center;
  background-image: url("style_images/woodybetter.png");

}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}
.navbar_links{ 
  text-align: right;
  justify-content: right;
  align-items: right;
}
.header0xdivi { 
  color: white;
}
.header0xdivi a:visited {
  color:white; /* hmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm <<<<<<<<<<<<<<<*/ 

}
.thepointer{ 
  cursor: pointer;
}

.flowcontainerheader{
  color: white;
}

.flowcontainer{ 
  padding: 10px;
  background-color: white;
  background-image: url("flow_images/woodexperiment.png"); 
}

.projectscontainer{  /* PROJECTS PAGE */ 
  padding: 10px;
  background-color: white;
  color: white;
  background-image: url("style_images/woodybetter.png");
}
.chakrapurple{ 
  background-image: url("flow_images/purple_marble_1000x500.png");
  height: 50px;
}
.goldbutton_borderdiv {
  background-image: url("style_images/gold-foil-texture-dark-square.jpg");
  width:210px;
  height: 60px;
}
.goldbutton{
  background-image: url("style_images/woodybetter.png");
  width: 200px;
  height: 50px;
  border-radius: 0px;
  font-size: 1em;
  font-family: Aboreto;
  font-weight:bolder;
  border: none;
  cursor: pointer;
  align-content: center;
  align-items: center;
  color:white;
}
.resources { 
  background-image: url("style_images/woodybetter.png");
}
.resourcesknow{
  background-image: url("style_images/woodybetter.png");
  color:black;
}
.black{
  background-color: #121212;
  margin:20px;
}
.black a{ 
  text-decoration: underline;

}